################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.Limiter/v16
/xLiAd.Limiter.Abstractions/bin/Debug/netstandard2.0
/xLiAd.Limiter.Abstractions/obj
/xLiAd.Limiter.Core/bin/Debug/netstandard2.0
/xLiAd.Limiter.Core/obj
/xLiAd.Limiter.Memory/bin/Debug/netstandard2.0
/xLiAd.Limiter.Memory/obj
/xLiAd.Limiter.Tests/bin/Debug/netcoreapp3.1
/xLiAd.Limiter.Tests/obj
/.vs/xLiAd.Limiter/DesignTimeBuild
/xLiAd.Limiter.Abstractions/bin/Release/netstandard2.0
/xLiAd.Limiter.Abstractions/nupkgs
/xLiAd.Limiter.Abstractions/nupkgsSymb
/xLiAd.Limiter.Core/bin/Release/netstandard2.0
/xLiAd.Limiter.Core/nupkgs
/xLiAd.Limiter.Core/nupkgsSymb
/xLiAd.Limiter.Memory/bin/Release/netstandard2.0
/xLiAd.Limiter.Memory/nupkgs
/xLiAd.Limiter.Memory/nupkgsSymb
