################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.Limiter/v16
/xLiAd.Limiter.Abstractions/bin/Debug/netstandard2.0
/xLiAd.Limiter.Abstractions/obj
